.big{
    width: 100%;
    height: 120vh;
    border: solid;
    margin: auto;
    background-image: url(icegif.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    
}
.mg{
    width: 20%;
    height: 300px;
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.17);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.6px);
-webkit-backdrop-filter: blur(4.6px);
}
.mg{
    width: 20%;
    height: 300px;
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.17);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.6px);
-webkit-backdrop-filter: blur(4.6px);
}
.mg{
    width: 20%;
    height: 300px;
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.17);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.6px);
-webkit-backdrop-filter: blur(4.6px);
}
.mg{
    width: 20%;
    height: 300px;
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.17);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.6px);
-webkit-backdrop-filter: blur(4.6px);
}
.big2{
    display: flex;
    justify-content: space-around;
    margin-top: -370px;
}
.mk{
    width: 20%;
    height: 300px;
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.17);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.6px);
-webkit-backdrop-filter: blur(4.6px);
}
.mk{
    width: 20%;
    height: 300px;
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.17);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.6px);
-webkit-backdrop-filter: blur(4.6px);
}
.mk{
    width: 20%;
    height: 300px;
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.17);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.6px);
-webkit-backdrop-filter: blur(4.6px);
}
.mk{
    width: 20%;
    height: 300px;
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.17);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.6px);
-webkit-backdrop-filter: blur(4.6px);
}