.big{
    width: 100%;
    height: 100vh;
    border: solid;
    display: flex;
}
.mh{
    width: 13%;
    height: 40px;
    border: solid;
    margin-top: 110px;
    margin-left: -130px;
}
.mh:hover{
    width: 13%;
    height: 40px;
    border: solid;
    background-color: #5b5b5b;
    transition: 1s;
    margin-top: 110px;
    margin-left: -130px;
}
.mh img{
    margin-top: 7px;
}
.mh a{
    text-decoration: none;
    color: #1c1c1c;
}
.inner{
    width: 100%;
    height: 350px;
    border: solid;
    margin-left: -650px;
    margin-top: 200px;
    display: flex;
}
.my{
    width: 19.5%;
    height: 300px;
    border: 1px solid;
    margin-top: -4px;
}
.ms{
    width: 19.5%;
    height: 300px;
    border: 1px solid;
    margin-top: -4px;
}
.mr{
    width: 19.5%;
    height: 300px;
    border: 1px solid;
    margin-top: -4px;
}
.mw{
    width: 19.5%;
    height: 300px;
    border: 1px solid;
    margin-top: -4px;
}
.mq{
    width: 19.5%;
    height: 300px;
    border: 1px solid;
    margin-top: -4px;
}
.big2{
    width: 100%;
    height: 650px;
    background: linear-gradient( to right, #74fe74,rgb(96, 252, 252));
    border: solid;
    display: flex;
}
.mp{
    width: 25%;
    height: 400px;
    border: solid;
    margin-left: 320px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    margin-top: 170px;
}
.ml{
    width: 25%;
    height: 400px;
    margin-left: 00px;
    background-color: white;
    border: solid;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 170px;
}
.mm{
    width: 50%;
    height: 40px;
    margin: auto;
    display: flex;
}
.jj{
    width: 50%;
    height: 39px;
    margin: auto;
}
.jj h1{
    color: green;
}
.oo{
    width: 50%;
    height: 39px;
    margin: auto;
}
.nn{
    width: 70%;
    height: 50px;
    border: solid;
    background-color: green;
    border-radius: 20px;
    margin: auto;
    display: flex;
}
.nn:hover{
    width: 70%;
    height: 50px;
    transition: 1s;
    border: solid;
    background-color: cornflowerblue;
    border-radius: 20px;
    margin: auto;
    display: flex;
}
.hh{
    width: 20%;
    height: 49px;
    margin: auto;
    border-radius: 20px;
}
.ii{
    width: 80%;
    height: 49px;
    margin: auto;
    border-radius: 20px;
}
.ii h3{
    color: white;
}