 
*{
    padding: 0;
    margin: 0;
}
.big{
    width: 99.7%;
    height: 100vh;
    display: flex;
}
.mg{
    width: 22%;
    height: 90vh;
    border-radius: 35px;
    margin-left: -100px;
    margin-top: 30px;
    background-color: whitesmoke;
}
.mn{
    width: 25%;
    height: 100vh;
    background: linear-gradient( to right, cyan,rgb(0, 13, 255));
    margin-left: -100px;
    
}
.mb{
    width: 140px;
    height: 50px;
    margin-left: 100px;
    margin-top: 10px;
    display: flex;
}
.mp{
    width: 50%;
    height: 50px;
    margin: auto;
}
.mk{
    width: 50%;
    height: 50px;
    margin-left: -10px;
}
.mk h2{
    color: white;
    margin-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900px;
    display: flex;
    margin-left: -20px;
}
.mg h1{
    color: #3f3f3f;
    margin-left: 125px;
    margin-top: 90px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.md{
    width: 150px;
    height: 1px;
    border: solid lime;
    margin-left:80px;
    margin-top: -15px;
    background-color: lime;
}
.mg h4{
    margin-left: 380px;
    font-size: 70px;
    margin-top: -30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900px;
}
 p{
    margin-left: 420px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* margin-top: -10px; */
    font-weight: 900px;
    font-size: 20px;
}
.big2{
    width: 30%;
    height: 50px;
    margin-left: 500px;
    margin-top: 40px;
    display: flex;
}
.left{
    width: 45%;
    height: 45px;
    background-color: cornflowerblue;
    margin: auto;
}
.left:hover{
    width: 45%;
    height: 45px;
    color: black;
    border: 1px solid cornflowerblue;
    background-color: whitesmoke;
    margin: auto;
}
.left:hover a{
    color: black;
}
.left a{
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
}
.right{
    width: 45%;
    height: 45px;
    background-color: black;
    margin: auto;
}
.right:hover{
    width: 45%;
    height: 45px;
    border: 1px solid;
    background-color: whitesmoke;
    margin: auto;
}
.right:hover a{
    color: black;
}
.right a{
    text-decoration: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner{
    width: 30px;
    margin-left: 490px;
    margin-top: -380px;
    border: solid;
}
.top{
    width: 30px;
    margin-left: -2px;  
    margin-top: -10px;
    border: solid;
}
.bottom {
    width: 30px;
    margin-left: -2px;
    margin-top: -12px;
    border: solid;
}
.my{
    margin-left: 500px;
    margin-top: 100px;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{
    width: 99.7%;
    height: 80vh;
    margin-top: 190px;
    display: flex;
}
.left_top{
    width: 49%;
    height: 75vh;
    margin: auto;
}
.left_bottom{
    width: 45%;
    height: 75vh;
    margin: auto;
}
.mi{
    width: 40%;
    height: 30px;
    display: flex;
    margin: auto;
}
.mtt{
    width: 50%;
    height: 29px;
    margin-left: 20px;
    margin-top: 20px;
    background-image: url(prev-black.png);
    background-repeat: no-repeat;
}
.mpp{
    width: 50%;
    height: 29px;
    margin-left:-10px;
    margin-top: 20px;
    background-image: url(next-black.png);
    background-repeat: no-repeat;
}
.left_top h1{
    margin-left: 150px;
    font-size: 40px;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.left_top h3{
    margin-left: 150px;
    /* font-size: 40px; */
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    
}
.mv{
    width: 25%;
height: 38px;
    border: solid;
    background-color: #1c1c1c;
    margin-left: 150px;
    margin-top: 20px;
}
.mv:hover{
    width: 25%;
    height: 38px;
    border: 1px solid;
    background-color: whitesmoke;
    margin-left: 150px;
    margin-top: 20px;
}
.mv:hover h4{
    color: black;
}
.mv a{
    text-decoration: none;
    color: white;
}
.mv h4{
    color: aliceblue;
    /* margin-right: 50px; */
    margin-left: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 4px;
    font-size: 20px;
}
.mm{
    width: 15%;
    height: 4px;
    background-color: rgb(103, 103, 255);
    margin-left: 300px;
    margin-top: -400px;
}
.left_bottom img{
    margin-top: -30px;
    margin-left: -34px;
}
.big3{
    width: 99%;
    height: 100vh;
    display: flex;
}
.nn{
    width: 45%;
    height: 85vh;
    margin: auto;
}
.dd{
    width: 45%;
    height: 85vh;
    margin: auto;
}
.ol{
    width: 100%;
    height: 225px;
    display: flex;
}
.jl{
    width: 45%;
    height: 225px;
    border: 10px solid #dcdcdc;
    margin: auto;
}
.jl:hover{
    width: 45%;
    height: 225px;
    border: 10px solid #000;
    margin: auto;
}
.kl{
    width: 45%;
    height: 225px;
    border: 10px solid #dbdbdb;
    margin: auto;
}
.kl:hover{
    width: 45%;
    height: 225px;
    border: 10px solid #000;
    margin: auto;
}
.pl{
    width: 100%;
    height: 225px;
    display: flex;
    margin-top: 10px;
}
.il{
    width: 45%;
    height: 225px;
    border: 10px solid #dedede;
    margin-top: 15px;
    margin-left: 4px;
}
.il:hover{
    width: 45%;
    height: 225px;
    border: 10px solid #000;
    margin-top: 15px;
    margin-left: 4px;
}
.ql{
    width: 45%;
    height: 225px;
    border: 10px solid #dcdcdc;
    margin-top: 15px;
    margin-left: 8px;
}
.ql:hover{
    width: 45%;
    height: 225px;
    border: 10px solid #000;
    margin-top: 15px;
    margin-left: 8px;
}
.dd h1{
    margin-left: 450px;
    margin-top: 100px;
}
.jj{
    width: 200px;
    height: 2px;
    background-color: cornflowerblue;
    margin-top: -45px;
    margin-left: 230px;
}
.dd p{
    margin-left: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 60px;
}
.tt{
    width: 25%;
    height: 35px;
    margin-top: 30px;
    border-radius: 2px;
    margin-left: 400px;
    border: 0.3px solid;
    background-color: #2b2b2b;
}
.tt:hover{
    width: 25%;
    height: 35px;
    margin-top: 30px;
    border-radius: 2px;
    margin-left: 400px;
    border: 1px solid;
    background-color: #ebebeb;
}
.tt:hover a{
    color: #000;
}
.tt a{
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: center;
    display: flex;
    margin-top: 3px;
    align-items: center;
}
.container2{
    width: 99%;
    height: 100vh;
}
.er{
    width: 150px;
    height: 2px;
    border: 1px solid cornflowerblue;
    background-color: cornflowerblue;
    margin-left: 220px;
    margin-top: -20px;
}
.container2 h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container2 h4{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #2b2b2b;
}
.yy{
    width: 100%;
    height: 80vh;
    margin-top: 10px;
    display: flex;
}
.ty{
    width: 25%;
    height: 75vh;
    margin-left:120px;
    margin-top: 15px;
}
.tf{
    width: 25%;
    height: 75vh;
    margin-left: 30px;
    margin-top: 15px;
}
.tu{
    width: 25%;
    height: 75vh;
    margin-left: 30px;
    margin-top: 15px;
}
.ww{
    width: 35%;
    border-radius: 2px;
    height: 35px;
    margin-top: 20px;
    border: 1px solid;
    background-color: #1c1c1c;
    margin-left: 95px;
}
.ww:hover{
    width: 35%;
    border-radius: 2px;
    height: 35px;
    margin-top: 20px;
    border: 1px solid;
    background-color: #e7e7e7;
    margin-left: 95px;
}
.ww a{
text-decoration: none;
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.ww:hover a{
    color: #000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.df{
    width: 5%;
    height: 50px;
    margin-left: 50px;
    background-color: aqua;
    margin-top: 230px;
}
.ds{
    width: 18%;
    height: 50px;
    margin-left: -100px;
    background-color: aqua;
}
.big5{
    width: 99.7%;
    height: 80vh;
    background-image: url(app-bg\ copy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}
.main{
    width: 45%;
    height: 96vh;
    margin-top: -100px;
}
.top_right{
    width: 45%;
    height: 75vh;
    margin: auto;
}
.top_right h1{
    color: white;
    margin-top: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.top_right b{
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
}
.top_right h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    margin-top: 30px;
}
.big6{
    width: 60%;
    height: 50px;
    margin-top: 30px;
    margin-left: 10px;
    display: flex;
}
.ve{
    width: 45%;
    height: 50px;
    margin: auto;
}
.vf{
    width: 45%;
    height: 50px;
    margin: auto;
}
.big7{
    width: 99.7%;
    height: 90vh;
}
.big7 h1{
    margin-top: 90px;
    /* color: white; */
    margin-left: 780px;
    font-size: 37px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.gf{
    width: 150px;
    height: 3px;
    border: 3px ;
    margin-left: -170px;
    margin-top: -20px;
    background-color: cornflowerblue;
}
.hg{
    width: 80%;
    height: 60vh;
    margin-left: 130px;
    margin-top: 30px;
}
.uu{
    width: 13%;
    height: 30px;
    /* border: solid; */
    margin-left: 430px;
    margin-top: 60px;
    display: flex;
}
.lm{
    width: 15%;
    height: 20px;
    margin-left: 10px;
    border-radius: 300px;
    background-color: aqua;
}
.lp{
    width: 15%;
    height: 20px;
    margin-left: 10px;
    border-radius: 300px;
    background-color: aqua;
}
.lu{
    width: 15%;
    height: 20px;
    margin-left: 10px;
    border-radius: 300px;
    background-color: black;
}
.lo{
    width: 15%;
    height: 20px;
    margin-left: 10px;
    border-radius: 300px;
    background-color: aqua;
}
.hg h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 42px;
}
.big9{
    width: 99.6%;
    height: 90vh;
    display: flex;
}
.ok{
    width: 45%;
    height: 86vh;
    margin-left: 100px;
    margin-top: -75px;
}
.okey{
    width: 45%;
    height: 86vh;
    margin-left: 100px;
    margin-top: -75px;
}
.oi{
    width: 50%;
    height: 60px;
    margin-top: 120px;
    display: flex;
}
.dyuk{
    width: 45%;
    height: 50px;
    margin-top: 20px;
    display: flex;
}
.key{
    width: 45%;
    height: 50px;
    margin-top: 20px;
    display: flex;
}
.victor{
    width: 22%;
    height: 47px;
    border: 1px solid;
}
.sali{
    width: 25%;
    height: 47px;
    border: 1px solid;
}
.jefri{
    width: 25%;
    height: 47px;
    border: 1px solid;
}
.bg{
    width: 75%;
    height: 49px;
    font-size: 15px;
    display: flex;
    color: #3f3f3f;
    justify-content: center;
    align-items: center;
}
.bp{
    width: 75%;
    height: 49px;
    display: flex;
    color: #3f3f3f;
    font-size: 15px;
    justify-content: center;
    align-items: center;
}
.victor img{
    margin-left: 10px;
    margin-top: 3px;
}
.sali img{
    margin-left: 10px;
    margin-top: 7px;
}
.jefri img{
    margin-left: 10px;
    margin-top: 7px;
}
.form_container input:hover{
    border: none;
}
.form_container placeholder{
    color: red;
}
button{
    width: 23%;
height: 48px;
    border: solid cornflowerblue;
    background-color: whitesmoke;
    margin-top: 40px;
    border-radius: 300px;
}
button h4{
    color: cornflowerblue;
    font-family: sans-serif;
    font-size: 15px;
}
.big10{
    width: 99.7%;
    height: 50vh;
}
.th{
    width: 100%;
    height: 100px;
    background-color: #2d2d2d;
    display: flex;
}
.th_left{
    width: 100%;
    height: 190px;
    background-color: #242424;
    margin-top: -20px;
}
.th h2{
    color: whitesmoke;
    margin-top: 35px;
    margin-left: 90px;
}
.th form{
    margin-top: -35px;
}
.th a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-left: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 35px;
}
.th b{
    margin-top: -30px;
}
.th_left h2{
    margin-top: 20px;
    color: #b5b5b5;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container7{
    width: 15%;
    height: 40px;
    /* border: solid white; */
    margin-top: 10px;
    margin-left: 535px;
    display: flex;
}
.yt{
    width: 20%;
    height: 39px;
    margin: auto;
    /* border: solid white; */
    border-radius: 300px;
}
.yt_polo{
    width: 20%;
    height: 39px;
    margin: auto;
    /* border: solid white; */
    border-radius: 300px;
}
.yt_bot{
    width: 20%;
    height: 39px;
    margin: auto;
    /* border: solid white; */
    border-radius: 300px;
}
.yt_pubger{
    width: 20%;
    height: 39px;
    margin: auto;
    /* border: solid white; */
    border-radius: 300px;
}
.th_left h3{
    color: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 10px;
}