
@font-face {
    font-family: salom;
    src: url(Angeline\ Vintage_Demo.ttf);
  }
*{
    padding: 0;
    margin: 0;
}
.container{
    width: 100%;
    height: 300vh;
    background-image: url(home-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.mg{
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.15);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.6px);
-webkit-backdrop-filter: blur(8.6px);
border: 1px solid rgba(255, 255, 255, 0.3);
height: 300px;
}
.container{
    color: white;
}
.ht{
    font-size: 30px;
    margin-left: -30px;
    font-family: salom;
}
.top{
    width: 300px;
    height: 80px;
    display: flex;
    margin: auto;
}
.vg{
    width: 100px;
    height: 100%;
    margin: auto;
}
.mj{
    width: 100px;
    height: 100%;
    margin: auto;
}
.hn{
    width: 100px;
    height: 100%;
    margin: auto;
}
.bn{
    width: 100px;
    height: 100%;
    margin: auto;
}
.mb{
    width: 100px;
    height: 100%;
    margin: auto;
}
.bottom{
    width: 800px;
    height: 60px;
    display: flex;
    margin: auto;
}
.df{
    width: 150px;
    height: 100%;
    margin: auto;
}
.mv{
    width: 150px;
    height: 100%;
    margin: auto;
}
.mc{
    width: 150px;
    height: 100%;
    margin: auto;
}
.mz{
    width: 150px;
    height: 100%;
    margin: auto;
}
.mx{
    width: 150px;
    height: 100%;
    margin: auto;
}
.ms{
    width: 150px;
    height: 100%;
    margin: auto;
}
.mw{
    width: 150px;
    height: 100%;
    margin: auto;
}
.we{
    width: 100%;
    height: 500px;
    display: flex;
}
.yt{
    width: 49%;
    height: 100%;
    margin: auto;
    background-image: url(women.png);
}
.lk{
    width: 49%;
    height: 100%;
    margin: auto;
    background-image: url(wam.png);
}
.tr{
    width: 100%;
    height: 50px;
    margin-top: 100px;
}
.er{
    width: 100%;
    height: 100px;
    margin-top: 50px;
}
.ew{
    width: 200px;
    height: 50px;
    background-color: darkblue;
    margin-top: 100px;
    margin-left: 100px;
    text-align: center;
}
.ew h3{
    margin-top: 50px;
}
.ew a{
    text-decoration: none;
    color: white;
    margin-top: 10px;
}
.ew p{
    margin-top: 10px;
}
.sa{
    width: 100%;
    height: 50px;
    margin-top: 100px;
}
.ds{
    width: 100%;
    height: 100px;
    margin-top: 50px;
}
.ws{
    width: 200px;
    height: 50px;
    background-color: darkblue;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}
.qw{
    width: 100%;
    height: 280px;
    display: flex;
}
.zx{
    width: 25%;
    height: 100%;
    background-image: url(architecture.png);
    background-repeat: no-repeat;
}
.zc{
    width: 25%;
    height: 100%;
    background-image: url(interior.png);
    background-repeat: no-repeat;
}
.zv{
    width: 25%;
    height: 100%;
    background-image: url(food.png);
    background-repeat: no-repeat;
}
.zb{
    width: 25%;
    height: 1005;
    background-image: url(travel.png);
    background-repeat: no-repeat;
}

.uuu{
    width: 30%;
    height: 50px;
    border: solid;
    margin-left: 300px;
    background-color: blueviolet;
}
.uuu a{
    text-decoration: none;
    color: white;
}
.uuu h3 {
    margin-top: 10px;
}
.az{
    width: 1100px;
    height: 200px;
    margin: auto;
    display: flex;
}
.ad{
    width: 18%;
    height: 100%;
    margin: auto;
}
.ax{
    width: 18%;
    height: 100%;
    margin: auto;
}
.aw{
    width: 18%;
    height: 100%;
    margin: auto;
}
.ar{
    width: 18%;
    height: 100%;
    margin: auto;
}
.aq{
    width: 18%;
    height: 100%;
    margin: auto;
}
.qs{
    width: 100%;
    height: 80vh;
    display: flex;
}
.uy{
    width: 35%;
    height: 100%;
    background-image: url(book.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
}
.oy{
    width: 30%;
    height: 100%;
    background-color: azure;
    color: black;
    margin: auto;
}
.ot{
    width: 30%;
    height: 100%;
    background-image: url(video-cover1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
}
.ot h1{
    margin-left: 70px;
}
.vb{
    width: 100%;
    height: 100vh;
    display: flex;
}
.hm{
    width: 55%;
    height: 100%;
    background-image: url(picture.png);
    margin: auto;
}
.fz{
    width: 40%;
    height: 100%;
    background-color: blueviolet;
    margin: auto;
}
.po{
    width: 300px;
    height: 200px;
    background-color: azure;
    margin-top: 333px;
}
.too{
    width: 40px;
    height: 40px;
    background-color: black;
    margin-left: 260px;
}